<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}" lang="fr">
<head>
    <title>Liste des étapes</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Etapes de la course : <span th:text="${course.nom}"></span></h1>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Nom</th>
                        <th scope="col">Distance (km)</th>
                        <th scope="col">Date et heure de début</th>
                        <th scope="col">Rang</th>
                        <th scope="col">Coureurs par équipe</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="etape, iterStat : ${listeEtapes}">
                        <td th:text="${iterStat.count}"></td>
                        <td th:text="${etape.nom}"></td>
                        <td th:text="${etape.distanceKm}"></td>
                        <td th:text="${etape.dateHeureDebut.format(T(java.time.format.DateTimeFormatter).ofPattern('E. d MMM uuuu'))}"></td>
                        <td th:text="${etape.rangEtape}"></td>
                        <td th:text="${etape.nombreCoureurEquipe}"></td>
                        <td style="display:flex">
                            <div class="px-2">
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                        data-bs-target="#listeCoureursModal">
                                    Liste coureurs
                                </button>
                                <!-- Modal pour afficher la liste des coureurs -->
                                <div class="modal fade text-left" id="listeCoureursModal" tabindex="-1" role="dialog"
                                     aria-labelledby="listeCoureursModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                                         role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="listeCoureursModalLabel">Liste des
                                                    coureurs</h4>
                                                <button type="button" class="close" data-bs-dismiss="modal"
                                                        aria-label="Fermer">
                                                    <i data-feather="x"></i>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <ul>
                                                    <li th:each="coureur : ${listeCoureurs}"
                                                        th:text="${coureur.nom + ' ' + coureur.prenom}"></li>
                                                </ul>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-light-secondary"
                                                        data-bs-dismiss="modal">Fermer
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="px-2">
                                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                                        data-bs-target="#affecterCoureurModal" th:attr="data-etape-id=${etape.id}">
                                    Affecter coureur
                                </button>
                                <!-- Modal pour affecter un coureur -->
                                <div class="modal fade text-left" id="affecterCoureurModal" tabindex="-1" role="dialog"
                                     aria-labelledby="affecterCoureurModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                                         role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="affecterCoureurModalLabel">Affecter un
                                                    coureur</h4>
                                                <button type="button" class="close" data-bs-dismiss="modal"
                                                        aria-label="Fermer">
                                                    <i data-feather="x"></i>
                                                </button>
                                            </div>
                                            <form th:action="@{/affecter-coureur}" method="post">
                                                <div class="modal-body">
                                                    <input type="hidden" name="idEtape" th:value="${etape.id}">
                                                    <label for="coureur">Coureur: </label>
                                                    <div class="form-group">
                                                        <select id="coureur" name="idCoureur" class="form-control">
                                                            <option th:each="coureur : ${listeCoureurs}"
                                                                    th:value="${coureur.id}"
                                                                    th:text="${coureur.nom + ' ' + coureur.prenom}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light-secondary"
                                                            data-bs-dismiss="modal">Fermer
                                                    </button>
                                                    <button type="submit" class="btn btn-primary ms-1">Affecter</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
