<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/error_layout}" lang="fr">
<body>
<!-- BODY -->
<div layout:fragment="content">
        <div class="error-page container">
            <div class="col-md-8 col-12 offset-md-2">
                <div class="text-center">
                    <img class="img-error" src="../../../static/assets/compiled/svg/error-404.svg"
                         th:src="@{/assets/compiled/svg/error-404.svg}" alt="Not Found">
                    <h1 class="error-title">NOT FOUND</h1>
                    <p class='fs-5 text-gray-600'>Ressource absente</p>
                </div>
            </div>
        </div>

    <!-- -->
</div>
</body>
</html>
