<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}" lang="fr">
<head>
    <title>Classement</title>

</head>
<body>
<div layout:fragment="content" class="container">

    <script th:src="@{/assets/extensions/chart.js/chart.umd.js}"></script>
    <div th:class="py-3">
        <a th:href="@{/user/export}" th:class="link-info">
            <button type="submit" class="btn btn-outline-primary ms-1">
                Exporter PDF
            </button>
        </a>
    </div>

    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Classement général par équipe : <span th:class="h2" th:text="${course.nom}"></span>
            </h1>
        </div>

        <p th:text="${error}" class="text-danger py-2"></p>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                    <tr>
                        <th scope="col">Rang</th>
                        <th scope="col">Equipe</th>
                        <th scope="col">Points</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${classements}">
                        <td th:text="${item.rangEquipe}"></td>
                        <td th:text="${item.equipe.nom}"></td>
                        <td th:text="${item.points}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Répartition des points</h4>
            </div>
            <div class="card-body">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        const xValues = /*[[${listEquipe}]]*/ [];
        const yValues = /*[[${listPoints}]]*/ [];

        const predefinedColors = [
            '#FF5733', // Orange
            '#FFFF33', // Jaune clair
            '#335EFF', // Bleu foncé
            '#ad1ab7', // Violet
            '#18af31', // Vert clair
            '#FF334D', // Rouge
            '#33FFF3', // Cyan
            '#FFB533', // Jaune
            '#3366FF', // Bleu moyen
            '#cc26b7', // Rose
            '#33FF93', // Vert clair
            '#FF3355', // Rouge clair
            '#33C1FF', // Bleu clair
            '#3393FF', // Bleu clair
            '#FF6633', // Orange clair
            '#3377FF', // Bleu profond
            '#FF3388', // Rose clair
            '#035016', // Vert
            '#FF3366', // Rouge foncé
            '#3399FF'  // Bleu marine
        ];

        // Sélectionner les couleurs en fonction de l'index de chaque élément dans listEquipe
        const barColors = xValues.map((_, index) => predefinedColors[index % predefinedColors.length]);

        new Chart("myChart", {
            type: "pie",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Ultimate Team Race"
                }
            }
        });
        /*]]>*/
    </script>


</div>
</body>
</html>
