<div th:fragment="header-page-title" class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3 th:text="${pageTitle}">Layout Default</h3>
            <p th:text="${subTitle}" class="text-subtitle text-muted">The default layout.</p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/" th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item"><span th:text="${session.user}">Username</span></li>
                    <li class="breadcrumb-item"><a href="/" th:href="@{/logout}">Log out</a></li>
                </ol>
            </nav>

        </div>
    </div>
</div>