<div th:fragment="header-page-title" class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last py-4">
            <h3 class="breadcrumb-item" th:switch="${session.user.getClass().getSimpleName()}">
                <span th:case="Admin" th:text="${(session.user).email}">
                    Admin
                </span>
                <span th:case="Equipe" th:text="${(session.user).nom}">
                    Equipe
                </span>
                <span th:case="*">
                <!-- HTML elements to render if session.user is neither a Admin nor an Equipe -->
                </span>
            </h3>
            <!-- <p class="text-subtitle text-muted">  </p> -->
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/" th:href="@{/user/home}">
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item"><span th:text="${(session.user).email}">Username</span></li>
                    <li class="breadcrumb-item"><a href="/" th:href="@{/logout}">Log out</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>